* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "poppins", sans-serif;
}

body {
    background-color:#ece4e4;
    min-width: 400px;
}

/* start section   */

.as {
    margin-bottom: 108px;

}

/* End section  */
/* start header */

/* header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    height: 203px;
    padding: 0 5%;
    color: #1e97f3;
    font-size: 87px;

} */

.contnet {
   display: flex;
  align-items: center;
   justify-items: flex-end; 
   width: 100%;
   height: 180px;
   padding: 0 5%;
   color: #1e97f3;
   font-size: 87px;
   background: black;

}

#toggle {
    width: 30px;
}

.logo {
    width: 120px;

}

header .logo {
    margin-right: auto;
    width: 150px;
    border-radius: 10px;
}

header .logo img {
    width: 55%;
    /* background-color: black; */
}



header nav {
    display: flex;
    align-items: center;
}


header .mean {
    display: flex;
    align-items: center;
}

header nav .mean li a {
    position: relative;
    color: #0a2f44;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 40px;
}

header nav #toggle {
    font-size: 1.5rem;
    margin-left: 120px;
    cursor: pointer;

}

header nav .mean {
    flex-direction: column;
    row-gap: 1.5rem;
    position: absolute;
    left: -100%;
    top: 160px;
    width: 100%;
    padding-top: 100px;
    background: #0747a1;
    height: calc(500vh - 130px);
    z-index: 10;
    transition: left 0.4s ease;
}



.hamed {
    background-color: rgb(3, 3, 3);
    width: 600px;
    margin: auto;
    height: 1000vh;
    direction: rtl;
    padding-top: 40px; 
    padding-right: 15px;
    color: #fff;
    
}
.hamed  .aaa h4 {
     padding-top: 15px;
}
.hamed .aaa hr {
    color: black;
    margin: 13px;
    margin-right: -5px;
}

.bege h2 {
    padding-top: 10px;
}

.img .imgaa {
    margin-right: -24px;
    width: 103%;
    height: 61vh;
    padding-right: 12px;
    margin-top: -30px;
}
.pregref p {
    line-height:25px;
}

    .pregref h4 {
        padding-bottom: 10px;
        font-weight: 600;
        font-size: 400;

    }

    .bege video {
        margin-left: 27px;
        padding-right: 4px;
        width: 565px;

    }
    
.bege .pper {
   margin-top: 14px;
   padding: 10px;
}

.bege .pper p {
    background-color:rgb(175, 175, 175);
    padding: 21px;
    margin-left: 10px;
    margin-right: -1px;
    margin: 10px;
    line-height: 26px;
    color: #000000;
}




/* @media (max-width:1000px) {
    .hamed {
        width: 400px;
    }   
    .pregref p {
        line-height: 25px;
        margin: 10px;
        padding: 10px;
    }
    .img .imgaa {
    margin-right: -8px;
    width: 100%;
    height: 37vh;
    }
    .contnet {
        display: flex;
        align-items: center;
        justify-items: flex-end;
        width: 100%;
        height: 151px;
        padding: 4px 8%;
        color: #1e97f3;
        font-size: 87px;
        background: #c7cbce;
    }
    
    header .logo {
        margin-right: auto;
        width: 139px;
        border-radius: 10px;
    }
    
    
} */

@media (max-width: 616px) {
   
.hamed {

    width: 310px;
    margin: auto;
    height: 1000vh;
    direction: rtl;
    padding-top: 47px;
    padding-right: 3px;
}

.bege video {
    margin-left: 27px;
    padding-right: 4px;
    width: 297px;
}

header .logo {
    margin-right: auto;
    width: 130px;
    border-radius: 10px;
}
.pregref p {
    padding: 7px;
    line-height: 25px;
    margin: 3px;
    padding-right: 1px;
}
.bege .pper p {
    padding: 6px;
    margin: 4px;
}
.bege h2 {
    padding-top: 10px;
}
.img .imgaa {
    margin-right: -9px;
    width: 102%;
    height: 30vh;
    padding-right: 8px;
}

}
